<% provide(:title, "About") %>
  <h1>About</h1>
  <p>
    This is a Halloween themed <a href="htts://www.twitter.com/"><em>Twitter</em></a>
    clone developed by <a href="https://www.grantholley.org/">Grant Holley</a> based on
    <a href="https://www.railstutorial.org/">Michael Hartl's Rails Tutorials.</a>

  </p>

