// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



section {
  overflow: auto;

}
textarea {
  resize: vertical;
}
.center {
  text-align: center;

h1 {
  margin-bottom: 10px;
  }
}

.navbar-nav a {
    color: #555;
    text-decoration: none;
    background-color: transparent;
  &:hover {
    color: #222;
}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

$light-gray: #777;

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $light-gray;
  a {
  color: #555;
  &:hover {
    color: #222;
    text-decoration: none;
  }
}
small {
  float: left;
}
ul {
  float: right;
  list-style: none;
 li {
  float: left;
  margin-left: 15px;
    }
  }
}
