// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

//fonts


//Colors

$purple: #44345B;
$dark-purple: #31263E;
$midnight: #221E22;
$yellow: #ECA72C;
$orange: #EE5622;
$off-white: #f5f5f5;

//Pages
  body {
    color: $off-white;
    background-color: $midnight;
  }

section {
  overflow: auto;

}
textarea {
  resize: vertical;
}
.center {
  text-align: center;

h1 {
  margin-bottom: 10px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

$light-gray: #777;

footer {

  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $light-gray;
  a {
  color: #555;
  &:hover {
    color: #222;
    text-decoration: none;
  }
}
small {
  float: left;
}
ul {
  float: right;
  list-style: none;
 li {
  float: left;
  margin-left: 15px;
    }
  }
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
  span {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
  }
  h1 {
    font-size: 1.4em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
   }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
a {
  float: left;
  padding: 0 10px;
  border-left: 1px solid $off-white;
  color: $off-white;
  &:first-child {
    padding-left: 0;
    border: 0;
  }
  &:hover {
    text-decoration: none;
    color: $orange;
  }
}
strong {
  display: block;
 }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
  a {
    color: $orange;
    text-decoration: none;
  }
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error !optional;
   .form-control {
    color: red;
   }
}

/* forms */

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
 a {
  color: $orange;
  text-decoration: none;
  margin-left: 5px;
    }
  li {
    padding-bottom: 13px;
    border-top: 1px solid $off-white;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 100px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: gray;
    display: block;
    margin-left: 100px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}
  aside {
    textarea {
      height: 100px;
      margin-bottom: 5px;
  }
}
  span.image {
    margin-top: 10px;
    input {
      border: 0;
    }
  }

  .profilename a {
    color: $orange;
    text-decoration: none;
    background-color: transparent;
}

  //Ghost avatar.

  .fa-ghost {
    color: $yellow;
    font-size: 30px;
    margin-top: 5px;
  }



//Navbar

.navbar-nav a {
    color: #555;
    text-decoration: none;
    background-color: transparent;
    margin-right: 10px;
  &:hover {
    color: #222;
}
}
  .navbar {
    background-color: $dark-purple;
  }

  .navbar-nav a{
  color: $off-white;
  background-color: $dark-purple;
    &:hover {
      color: $orange;
    }
  }

  .navbarDropdown {
    background-color: $midnight;
  }

  .dropdown-menu {
    background-color: $dark-purple;
  }

  h3 {
    margin-top: 5px;
  }

  //button

.btn {
  color: $off-white;
  border-radius: 24px;
  background-color: $orange;
  border-color: $orange;
  &:hover {
    color: $off-white;
    background-color: $dark-purple;
    border-color: $orange;
  }
}

.unfollowButton {
  margin-top: 10px;
}

//Footer
footer {
  color: $off-white;
  a {
    color:$off-white;
    &:hover {
      color: $orange;
    }
  }
}


//Pagination
.digg_pagination {
  background: $midnight;
 }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: $midnight;
    border: 1px solid $orange; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: $orange;
    color: white;
    border: 1px solid $orange; }
  .digg_pagination a {
    text-decoration: none;
    color: $off-white;
    border: 1px solid $off-white; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: $orange;
      border-color: $orange; }
  .digg_pagination .page_info {
    background: $midnight;
    color: $off-white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: $orange;
      background: $midnight;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

/* About */
  .about a{
    color: $orange;
    text-decoration: none;
  }

.jumbotron {
  background-color: #221e22;
}

.header-image {
width: 100%;
height: auto;
position: relative
}

.signbtn {
  position: absolute;
  height: 100px;
  left: 49%;
  margin-left: -50px;
  top: 65%;
  margin-top: -50px;
}


