<footer class="footer">
  <small>
    Kakaw
    by <a href="https://www.grantholley.com/">Grant Holley</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Portfolio", "https://www.grantholley.com/" %></li>
      <li><%= link_to "Github", "https://www.github.com/gvholley" %></li>
    </ul>
  </nav>
</footer>
